name: Daily Steel News (Serper)

on:
  schedule:
    - cron: '0 22 * * *'   # 日本時間 7:00(翌日)
  workflow_dispatch:

jobs:
  run:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: pip install -r requirements.txt


      - name: Run news bot
        run: python main.py
        env:
          OPENAI_API_KEY: ${{ secrets.OPENAI_API_KEY }}
          SERPER_API_KEY: ${{ secrets.SERPER_API_KEY }}
          GMAIL_USER: ${{ secrets.GMAIL_USER }}
          GMAIL_PASS: ${{ secrets.GMAIL_PASS }}
          EMAIL_TO: ${{ secrets.EMAIL_TO }}
          NOTION_TOKEN: ${{ secrets.NOTION_TOKEN }}
          NOTION_ARTICLES_DB_ID: ${{ secrets.NOTION_ARTICLES_DB_ID }}
          NOTION_DAILY_DB_ID: ${{ secrets.NOTION_DAILY_DB_ID }}
          NOTION_TARGETS_DB_ID: ${{ secrets.NOTION_TARGETS_DB_ID }}
          NOTION_RULES_DB_ID: ${{ secrets.NOTION_RULES_DB_ID }}
